extends ../layout

block content
  h2= list.name

  h3 Members

  table.table.table-bordered
    tr
      each header in ['Email', 'Subscriber Since', 'Member Rating']
        th= header
    each member in members
      tr
        td= member.email
        td= member.timestamp
        td= member.member_rating
